body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 2px solid black;
    width: 200px;
    height: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4,
p {
    margin: 5px;
    word-break: break-all;
}

button {
    width: 80%;
    margin: 5px;
}